
{% extends 'base.html' %}
{% load static %}

{% block title %}
Chatroom 
{% endblock %}

{% block content %}
<style type="text/css">
.chat-log {
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	background-color: #fff;
	font-size: 0.9em;
	flex-direction: column-reverse;
}
.profile-image{
	width: 33px;
	height: 33px;
	margin-top: 0px;
	margin-bottom: auto;
}
.profile-image:hover{
	cursor: pointer;
}
.username-span{
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: auto;
	margin-left: 5px;
	margin-right: 5px;
}
.username-span:hover{
	cursor: pointer;
}
.msg-p{
	font-weight: 450;
	margin-top: 5px;
	margin-bottom: auto;
	margin-left: 5px;
	margin-right: 5px;
	white-space: normal;
	-ms-word-break: break-all;
	word-break: break-all;
}
.message-container{
	margin-top: 10px;
	justify-content: start;
}
.timestamp-span{
	font-weight: 400;
	font-size: 0.8em;
	color: var(--secondary-text-color);
}
.timestamp-span:hover{
	cursor: pointer;
}
#id_chatroom_loading_spinner{
		position: absolute;
}
.connected-users{
	color: red;
}
.connected-users-icon{
	color: red;
}
.connected-users-icon:hover{
	cursor: default;
}
</style>

{% if debug %}
PUBLIC CHAT
{% endif %}
<span class="{% if not debug %}d-none{% endif %} page-number" id="id_page_number">1</span>

<div class="card mt-3">
	<div class="card-header">
		<div class="d-flex flex-row justify-content-between">
			<h3 class="">{{ room_title }}</h3>
			<div class="d-flex flex-row align-items-center">
				<span class="material-icons m-auto pr-1 connected-users-icon">person_outline</span>
				<span class="m-auto connected-users" id="id_connected_users"></span>
			</div>
			
		</div>
	</div>
	<div class="card-body p-1">
		<div class="d-flex flex-column" id="id_chat_log_container">
			<div class="d-flex flex-row justify-content-center" id="id_chatroom_loading_spinner_container">
				<div class="spinner-border text-primary"  id="id_chatroom_loading_spinner" role="status"  style="display: none; ">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<div class="d-flex chat-log" id="id_chat_log">
				
			</div>
			<div class="d-flex chat-message-input-container">
				<textarea class="flex-grow-1 chat-message-input" id="id_chat_message_input"></textarea>
				<button class="btn btn-primary chat-message-submit-button">
					<span id="id_chat_message_submit" class="material-icons">send
					</span>
				</button>
			</div>
		</div>
	</div>
</div>


<script src="{% static 'lib/reconnecting-websocket.js' %}"></script>
{% include 'main_asgi/public_room.html' %}
{% endblock %}