{% extends 'base.html' %}
{% load static %}

{% block title %}
Password reset email sent successfully
{% endblock title %}

{% block content %}


<div class="container-fluid">
    <header class="bg-light pb-5 pt-3 mt-2">
      <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
              <div class="col-lg-12 col-xl-12 col-xxl-12 rounded ">
                  <div class=" mt-1">
                      <h1 class="display-5 fw-bolder text-success text-center mb-2"><i class="fa fa-check-circle fa-3x"></i></h1>
                      <p class="lead fw-normal text-dark-50 text-center mb-4">Your password was changed successfully , you will now be redirected</p>
                      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </header>
</div>
<script type="text/javascript">
  setTimeout(function (){
      location = "{% url 'account:details' subject_username=request.user.username %}"
  }, 3000)
</script>
{% endblock %}