<footer class="app-footer border-top">
    <div class="py-2 mt-auto container px-3">
        <div class="row py-1">

            <div class="col-12">
                <div class="d-flex flex-row">
	                <div class="flex-grow-1">
						<small class="copyright text-light">© Ultranet 2022</small>
	                </div>
	                <div class="flex-shrink-1 pt-2">
	                    <a class="text-light" href="#!"><i class="fab fa-github fa-lg"></i></a>
	                    <span class="text-white mx-1">·</span>
	                    <a class="text-light" href="#!"><i class="fab fa-instagram fa-lg"></i></a>
	                    <span class="text-white mx-1">·</span>
	                    <a class="h6 tillium text-light" href="#!"><i class="fab fa-facebook fa-lg"></i></a>   
	                </div>
				</div>
            </div>
            <div class="col-12 py-0 my-0 text-start">

				<small class="copyright text-light">Designed by <a class="app-link text-light" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>

            </div>        



        </div>
    </div>

</footer>
