{% load static %}
<header class="app-header fixed-top">	   	            
    <div class="app-header-inner">  
        <div class="container-fluid py-2">
	        <div class="app-header-content"> 
	            <div class="row justify-content-between align-items-center">
		        
			    <div class="col-auto">
				    <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
					    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
				    </a>
			    </div><!--//col-->

			    {% if request.user.is_authenticated %}
	            <div class="search-mobile-trigger d-sm-none col">
		            <i class="search-mobile-trigger-icon fas fa-search"></i>
		        </div><!--//col-->
	            <div class="app-search-box col">
	                <form class="app-search-form">   
						<input type="text" placeholder="Search..." name="search" class="form-control search-input">
						<button type="submit" class="btn search-btn btn-primary" value="Search"><i class="fas fa-search"></i></button> 
			        </form>
	            </div><!--//app-search-box-->

	            
	            <div class="app-utilities col-auto">
		            <div class="app-utility-item app-notifications-dropdown dropdown">    
			            <a class="dropdown-toggle no-toggle-arrow" id="notifications-dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="Notifications">
				            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
				            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
							  <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
							</svg>
				            <span class="icon-badge" id="notification_count">0</span>
				        </a><!--//dropdown-toggle-->
				        
				        <div class="dropdown-menu p-0" aria-labelledby="notifications-dropdown-toggle">
				            <div class="dropdown-menu-header p-3">
					            <h5 class="dropdown-menu-title mb-0">Notifications</h5>
					        </div><!--//dropdown-menu-title-->
					        <div class="dropdown-menu-content">
						       <div class="item p-3">
							        <div class="row gx-2 justify-content-between align-items-center">
								        <div class="col-auto">
									       <img class="profile-image" src="assets/images/profiles/profile-1.png" alt="">
								        </div><!--//col-->
								        <div class="col">
									        <div class="info"> 
										        <div class="desc">Amy shared a file with you. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
										        <div class="meta"> 2 hrs ago</div>
									        </div>
								        </div><!--//col--> 
							        </div><!--//row-->
							        <a class="link-mask" href="notifications.html"></a>
						       </div><!--//item-->
						       <div class="item p-3">
							        <div class="row gx-2 justify-content-between align-items-center">
								        <div class="col-auto">
									        <div class="app-icon-holder">
										        
									        </div>
								        </div><!--//col-->
								        <div class="col">
									        <div class="info"> 
										        <div class="desc">You have a new invoice. Proin venenatis interdum est.</div>
										        <div class="meta"> 1 day ago</div>
									        </div>
								        </div><!--//col-->
							        </div><!--//row-->
							        <a class="link-mask" href="notifications.html"></a>
						       </div><!--//item-->
						       <div class="item p-3">
							        <div class="row gx-2 justify-content-between align-items-center">
								        <div class="col-auto">
									        <div class="app-icon-holder icon-holder-mono">
										        
									        </div>
								        </div><!--//col-->
								        <div class="col">
									        <div class="info"> 
										        <div class="desc">Your report is ready. Proin venenatis interdum est.</div>
										        <div class="meta"> 3 days ago</div>
									        </div>
								        </div><!--//col-->
							        </div><!--//row-->
							        <a class="link-mask" href="notifications.html"></a>
						       </div><!--//item-->
						       <div class="item p-3">
							        <div class="row gx-2 justify-content-between align-items-center">
								        <div class="col-auto">
									       <img class="profile-image" src="assets/images/profiles/profile-2.png" alt="">
								        </div><!--//col-->
								        <div class="col">
									        <div class="info"> 
										        <div class="desc">James sent you a new message.</div>
										        <div class="meta"> 7 days ago</div>
									        </div>
								        </div><!--//col--> 
							        </div><!--//row-->
							        <a class="link-mask" href="notifications.html"></a>
						       </div><!--//item-->
					        </div><!--//dropdown-menu-content-->
					        
					        <div class="dropdown-menu-footer p-2 text-center">
						        <a href="notifications.html">View all</a>
					        </div>
														
						</div><!--//dropdown-menu-->					        
			        </div><!--//app-utility-item-->
		            <div class="app-utility-item">
			            <a href="settings.html" title="Settings">
				            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
				            
				        </a>
				    </div><!--//app-utility-item-->
		            
		            <div class="app-utility-item app-user-dropdown dropdown">
			            <a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="{{ request.user.profile_image.url }}" alt="user profile" class="rounded-circle"></a>
			            <ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
							<li><a class="dropdown-item" href="{% url 'account:details' subject_username=request.user.username %}">Account</a></li>
							<li><a class="dropdown-item" href="{% url 'account:settings' page='main' %}">Settings</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
						</ul>
		            </div><!--//app-user-dropdown--> 
	            </div><!--//app-utilities-->
	            {% endif %}
	        </div><!--//row-->
            </div><!--//app-header-content-->
        </div><!--//container-fluid-->
    </div><!--//app-header-inner-->
    <div id="app-sidepanel" class="app-sidepanel"> 
        <div id="sidepanel-drop" class="sidepanel-drop"></div>
        <div class="sidepanel-inner d-flex flex-column">
	        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
	        <div class="app-branding">
	            <a class="app-logo" href="index.html"><img class="logo-icon me-2" src="{% static 'logos/light.svg' %}" alt="logo"><span class="logo-text">ULTRANET</span></a>

	        </div><!--//app-branding-->  
	        
		    <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
			    <ul class="app-menu list-unstyled accordion" id="menu-accordion">
				    <li class="nav-item">
				        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
				        <a class="nav-link active" href="{% url 'home' %}">
					        <span class="nav-icon">
					        	<i class="fa fa-home fa-lg"></i>
					         </span>
	                         <span class="nav-link-text">Home</span>
				        </a><!--//nav-link-->
				    </li><!--//nav-item-->
				    
				    {% if request.user.is_authenticated %}
				    <li class="nav-item">
				        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
				        <a class="nav-link" href="{% url 'feed' %}">
					        <span class="nav-icon">
					        	<i class="fa fa-list-alt fa-lg"></i>
					         </span>
	                         <span class="nav-link-text">Feed</span>
				        </a><!--//nav-link-->
				    </li><!--//nav-item-->

				    <li class="nav-item has-submenu">
				        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
				        <a class="nav-link submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-1" aria-expanded="false" aria-controls="submenu-1">
					        <span class="nav-icon">
					        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
					        	<i class="fa fa-pencil-alt fa-lg"></i>
					         </span>
	                         <span class="nav-link-text">Create</span>
	                         <span class="submenu-arrow">
	                             
                             </span><!--//submenu-arrow-->
				        </a><!--//nav-link-->
				        <div id="submenu-1" class="collapse submenu submenu-1" data-bs-parent="#menu-accordion">
					        <ul class="submenu-list list-unstyled">
						        <li class="submenu-item"><a class="submenu-link" href="{% url 'blog:create_content' content_type='Post' %}">Post</a></li>
						        <li class="submenu-item"><a class="submenu-link" href="{% url 'blog:create_content' content_type='Poll' %}">Poll</a></li>
					        </ul>
				        </div>
				    </li><!--//nav-item-->
				    {% endif %}


			    </ul><!--//app-menu-->
		    </nav><!--//app-nav-->
		    <div class="app-sidepanel-footer">
			    <nav class="app-nav app-nav-footer">
				    <ul class="app-menu footer-menu list-unstyled">
				    	{% if request.user.is_authenticated %}
					    <li class="nav-item">
					        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
					        <a class="nav-link" href="{% url 'account:settings' page='main' %}">
						        <span class="nav-icon">
						           <i class="fa fa-cog fa-lg"></i> 
						        </span>
		                        <span class="nav-link-text">Settings</span>
					        </a><!--//nav-link-->
					    </li><!--//nav-item-->
					    {% endif %}
					    <li class="nav-item">
					        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
					        <a class="nav-link" href="{% url 'about_page' %}">
						        <span class="nav-icon">
						            <i class="fa fa-envelope fa-lg"></i>
						        </span>
		                        <span class="nav-link-text">About Ultranet</span>
					        </a><!--//nav-link-->
					    </li><!--//nav-item-->
					    <li class="nav-item">
					        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
					        <a class="nav-link" href="{% url 'legal_docs_page' %}">
						        <span class="nav-icon">
						            <i class="fa fa-file-invoice fa-lg"></i>
						        </span>
		                        <span class="nav-link-text">License</span>
					        </a><!--//nav-link-->
					    </li><!--//nav-item-->
				    </ul><!--//footer-menu-->
			    </nav>
		    </div><!--//app-sidepanel-footer-->
        </div><!--//sidepanel-inner-->
    </div><!--//app-sidepanel-->
</header><!--//app-header-->
